@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root{
  --primary-clr: #914BB5;
  --inset-shadow: inset 0px 0px 5px 0px black !important;
}

*{
  font-family: "M PLUS Rounded 1c", sans-serif;
}


body {
  min-height: 200vh;
  overflow-x: hidden;
  background-image: url(../videos/bg.mp4);
}

body.dark {
  background: linear-gradient(to bottom, #202020, #111119); 
}

.bg{
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}


/* header start */

.themeToggle:active{
  box-shadow: var(--inset-shadow);
}

/* header end */